.card {
    display: inline-block !important;
    margin: 0 0.5rem 0.5rem;  
    border: 1px solid #aaa !important;
    border-radius: 0 !important;
}

.cardBody {
    background: #1c1c36;
    color: #888;
    padding: 0 !important;
    text-align: center;
    width: 9rem;  
    min-height: 10rem;
}

.card p {
    margin-bottom: 0;
}

.textarea {
    max-width: 8.5rem;
    min-height: 9.5rem;
    line-height: 18px; 
    font-size: 12px;
    background: #1c1c36;
    color: #888;
    border: none;
    user-select: none;
    padding: 5px;
}
textarea:focus {
    outline: none;
}