@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12142D;
  padding: 2rem 0;
}